@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald"), url("../fonts/oswald-v35-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/oswald-v35-latin_cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url("../fonts/oswald-v35-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/oswald-v35-latin_cyrillic-500.woff") format("woff");
  font-style: normal;
  font-weight: 500; }

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff; }

img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block; }

@media (min-width: 768px) {
  body {
    min-width: 768px; } }

@media (min-width: 1440px) {
  body {
    min-width: 1440px;
    background-image: url(../img/index-background-desktop.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #ffffff; }
  .body__wrapper {
    background-image: none; } }

.page-header__wrapper {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 16px;
  width: 280px;
  position: relative;
  display: flex;
  justify-content: space-between; }

.page-header__logo {
  display: flex; }

.page-header__logo-cat {
  margin: 0;
  margin-right: 57px; }

.page-header__logo-tablet {
  display: none; }

.page-header__logo-desktop {
  display: none; }

.page-header__toggle {
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  background-color: #ffffff; }
  .page-header__toggle::before {
    position: absolute;
    top: 20px;
    right: 9px;
    content: "";
    height: 23px;
    width: 2px;
    background-color: #000000;
    transform: rotate(45deg); }
  .page-header__toggle::after {
    position: absolute;
    top: 20px;
    right: 9px;
    content: "";
    height: 23px;
    width: 2px;
    background-color: #000000;
    transform: rotate(-45deg); }

@media (min-width: 768px) {
  .page-header {
    padding-bottom: 60px; }
  .page-header__container {
    margin: 0 auto;
    padding-top: 24px;
    width: 708px;
    display: flex;
    justify-content: space-between; }
  .page-header__wrapper {
    margin: 0;
    padding: 0;
    width: 180px; }
  .page-header__logo-cat,
  .page-header__logo-image {
    display: none; }
  .page-header__logo-tablet {
    display: block; }
  .page-header__logo-desktop {
    display: none; }
  .page-header__toggle {
    display: none; } }

@media (min-width: 1440px) {
  .page-header {
    margin-bottom: 30px;
    padding-bottom: 600px; }
  .page-header--desktop {
    padding-bottom: 0; }
  .page-header__container {
    padding-top: 50px;
    width: 1220px; }
  .page-header__logo-tablet {
    display: none; }
  .page-header__logo-desktop {
    display: block; } }

.page-main__wrapper {
  padding-top: 10px;
  background-color: #ffffff; }

.page-main__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal; }

.page-main__container {
  background-color: #ffffff; }

@media (min-width: 768px) {
  .page-main__container {
    padding: 0;
    margin-bottom: 60px; }
  .page-main__title {
    margin-bottom: 60px;
    width: 708px;
    font-size: 60px; }
  .page-main__title--tablet {
    margin-bottom: 120px; } }

@media (min-width: 1440px) {
  .page-main__container {
    margin: 0 auto;
    padding-bottom: 0;
    margin-bottom: 30px;
    width: 1220px; }
  .page-main__title {
    margin: 0;
    margin-bottom: 50px; }
  .page-main__title--desktop {
    margin-bottom: 120px; } }

.main-nav__wrapper {
  margin: 0 auto;
  text-align: center; }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.main-nav__list:last-child {
  border-bottom: 1px solid #e6e6e6; }

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    min-width: 450px;
    justify-content: space-between; }
  .main-nav__list:last-child {
    border: none; } }

@media (min-width: 1440px) {
  .main-nav__list {
    min-width: 480px; } }

.site-list__item,
.site-list__item--active {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e6e6e6; }

.site-list__item a,
.site-list__item--active {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .site-list__item {
    border: none;
    font-size: 18px;
    line-height: 20px; }
  .site-list__item a,
  .site-list__item--active {
    font-size: 18px; } }

@media (min-width: 1440px) {
  .site-list__item a,
  .site-list__item--active {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px; }
  .site-list__item--desktop a {
    color: #000000; } }

.promo {
  padding-bottom: 22px;
  background-color: #ffffff; }

.promo__background {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 305px;
  background-color: #63a73a; }

.promo__wrapper {
  margin: 0 auto;
  width: 280px; }

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  margin-top: -277px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #ffffff;
  text-align: center; }

.promo__slogan {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }

.promo__photo-tablet,
.promo__photo-desktop {
  display: none; }

.promo__select-programm {
  text-decoration: none;
  display: block;
  text-align: center; }

@media (min-width: 768px) {
  .promo__background {
    display: none; }
  .promo__wrapper {
    width: 708px;
    position: relative; }
  .promo__title {
    margin: 0;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left; }
  .promo__slogan {
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left; }
  .promo__photo {
    display: none; }
  .promo__photo-tablet {
    display: block; }
  .promo__photo-desktop {
    display: none; }
  .promo__select-programm {
    width: 208px;
    position: absolute;
    top: 220px;
    left: 90px; } }

@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1220px;
    position: absolute;
    top: 180px;
    left: 110px; }
  .promo__title {
    margin: 0;
    margin-left: 70px;
    margin-right: 580px;
    margin-bottom: 40px; }
  .promo__slogan {
    margin: 0;
    margin-left: 70px; }
  .promo__photo-tablet {
    display: none; }
  .promo__photo-desktop {
    margin: 0;
    display: block;
    position: relative;
    bottom: 230px;
    left: 455px; }
  .promo__select-programm {
    left: 70px; } }

.button {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 20px; }
  .button--change {
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 1440px) {
  .button {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px; } }

.catalog {
  background-color: #ffffff; }

.catalog__wrapper {
  margin: 0 auto;
  width: 280px; }

.catalog__slim,
.catalog__weight {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2; }

.catalog__slim {
  margin-bottom: 20px;
  background-image: url(../img/cat-slim-mobile.png);
  background-repeat: no-repeat;
  background-position: 10% 13%; }

.catalog__weight {
  background-image: url(../img/cat-pro-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 13%; }

.catalog__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.catalog__info {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid #d9d9d9; }

.catalog__link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .catalog {
    padding-bottom: 40px; }
  .catalog__wrapper {
    width: 708px; }
  .catalog__slim {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url(../img/cat-slim.png);
    background-repeat: no-repeat;
    background-position: 89% 49%; }
  .catalog__title {
    margin-bottom: 20px;
    text-align: left; }
  .catalog__info {
    border: none;
    width: 340px; }
  .catalog__weight {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url(../img/cat-pro.png);
    background-repeat: no-repeat;
    background-position: 93% 66%; } }

@media (min-width: 1440px) {
  .catalog {
    padding-bottom: 60px; }
  .catalog__wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between; }
  .catalog__slim {
    width: 38%;
    margin: 0;
    padding-top: 60px;
    background-image: url(../img/cat-slim-desktop.png);
    background-repeat: no-repeat;
    background-position: 10% 10%; }
  .catalog__title {
    margin-bottom: 75px;
    font-size: 36px;
    text-align: center; }
  .catalog__info {
    font-size: 16px;
    line-height: 24px;
    width: 100%; }
  .catalog__link {
    font-size: 20px;
    line-height: 20px; }
  .catalog__weight {
    width: 38%;
    padding-top: 60px;
    background-image: url(../img/cat-pro-desktop.png);
    background-repeat: no-repeat;
    background-position: 5% 10%; } }

.advantages {
  padding-bottom: 40px;
  background-color: #ffffff; }

.advantages__wrapper {
  margin: 0 auto;
  width: 280px; }

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.advantages__text {
  margin: 0;
  margin-left: 80px; }

.advantages__item--leaf {
  background-image: url(../img/leaf.png);
  background-repeat: no-repeat; }

.advantages__item--water {
  background-image: url(../img/water.png);
  background-repeat: no-repeat; }

.advantages__item--food {
  background-image: url(../img/dinner.png);
  background-repeat: no-repeat; }

.advantages__item--clock {
  background-image: url(../img/clock.png);
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .advantages {
    padding: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6; }
  .advantages__wrapper {
    width: 708px; }
  .advantages__title {
    font-size: 60px; }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .advantages__item {
    margin-bottom: 120px;
    width: 264px;
    font-size: 16px;
    line-height: 24px;
    position: relative; }
  .advantages__text {
    margin-top: 90px;
    margin-left: 0;
    position: relative;
    z-index: 1; }
  .advantages__item--food,
  .advantages__item--clock {
    margin: 0;
    padding-bottom: 90px; }
  .advantages__item--leaf::before {
    content: "1";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    position: absolute;
    top: -36px;
    right: 16px; }
  .advantages__item--water::before {
    content: "2";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    position: absolute;
    top: -36px;
    right: 16px; }
  .advantages__item--food::before {
    content: "3";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    position: absolute;
    top: -36px;
    right: 16px; }
  .advantages__item--clock::before {
    content: "4";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    position: absolute;
    top: -36px;
    right: 16px; } }

@media (min-width: 1440px) {
  .advantages {
    border-bottom: none; }
  .advantages__title {
    margin-bottom: 60px; }
  .advantages__wrapper {
    width: 1220px; } }

.result {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2; }

.result__wrapper {
  margin: 0 auto;
  width: 280px; }

.result__cont {
  margin: 0 auto;
  width: 280px; }

.result__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal; }

.result__text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.result__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.result__list {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  transform: rotate(180deg);
  width: 124px; }

.result__list-value {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  transform: rotate(-180deg);
  text-align: center; }

.result__list-category {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  transform: rotate(180deg); }

.result__total {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 100%; }

.result__photo--after {
  display: none; }

.result__difference {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .result {
    padding-bottom: 50px;
    background: linear-gradient(#ffffff 550px, #f2f2f2 20px); }
  .result__wrapper {
    width: 708px; }
  .result__title {
    margin: 0;
    margin-bottom: 55px;
    font-size: 60px; }
  .result__cont {
    margin: 0 auto;
    width: 708px; }
  .result__text {
    margin-right: 40px;
    font-size: 16px;
    line-height: 24px; }
  .result__container {
    padding-bottom: 50px;
    justify-content: flex-start; }
  .result__list {
    margin-right: 40px;
    width: 162px;
    flex-shrink: 0; }
  .result__list-value {
    font-size: 30px;
    line-height: 37px; }
  .result__list-category {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    line-height: 14px; }
  .result__total {
    margin-left: 104px;
    width: 192px;
    text-align: right;
    font-size: 20px;
    line-height: 20px; }
  .result__number {
    margin-top: 10px;
    display: block; }
  .result__photo {
    display: none; }
  .result__photo--after {
    display: block;
    margin: 0; }
  .result__change {
    text-align: center; } }

@media (min-width: 1440px) {
  .result {
    padding-top: 0;
    background: linear-gradient(#ffffff 120px, #f2f2f2 20px);
    position: relative; }
  .result__wrapper {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .result__title {
    margin-bottom: 65px; }
  .result__cont {
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .result__text {
    margin: 0;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 24px; }
  .result__container {
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 435px; }
  .result__list {
    margin: 0;
    margin-bottom: 55px; }
    .result__list:nth-child(2) {
      margin-right: 35px; }
  .result__total {
    margin: 0;
    width: 325px;
    text-align: left; }
  .result__number {
    margin-left: 55px;
    display: inline-block; }
  .result__contain {
    display: flex;
    width: 610px;
    flex-direction: column; }
  .result__photo--after {
    margin-top: -250px;
    margin-bottom: 40px; }
  .result__difference {
    font-size: 20px; } }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__container {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
  width: 280px; }

@media (min-width: 768px) {
  .page-footer__container {
    width: 708px;
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1440px) {
  .page-footer {
    position: relative;
    background-color: #f2f2f2; }
  .page-footer__container {
    width: 1220px; } }

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff; }

.contact--form {
  background-color: #f2f2f2; }

.contact__wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: space-between; }

.contact__catalog {
  background-color: #f2f2f2; }

.contact__partnership {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

.contact__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px; }

@media (min-width: 768px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px; }
  .contact__wrapper {
    width: 708px;
    justify-content: space-around; }
  .contact--form__wrapper {
    margin: 0 auto;
    width: 630px;
    justify-content: space-between; }
  .contact__partnership {
    font-size: 20px;
    line-height: 25px;
    width: 145px; }
  .contact__address {
    font-size: 16px;
    width: 165px; }
  .contact__address--form {
    text-align: right; } }

@media (min-width: 1440px) {
  .contact {
    padding-bottom: 40px; }
  .contact__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 90px;
    width: 370px;
    background-color: #ffffff;
    position: absolute;
    top: 96px;
    left: 150px; }
  .contact__partnership {
    margin-right: 70px; } }

.map__photo--tablet,
.map__photo--desktop {
  display: none; }

@media (min-width: 768px) {
  .map__photo {
    display: none; }
  .map__photo--tablet {
    display: block; }
  .map__photo--desktop {
    display: none; } }

@media (min-width: 1440px) {
  .map {
    margin-top: -90px;
    background-color: #f2f2f2; }
  .map__photo--tablet {
    display: none; }
  .map__photo--desktop {
    display: block; } }

.logo-footer {
  text-align: center;
  border-bottom: 1px solid #d9d9d9; }

.logo-footer__photo {
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .logo-footer {
    border: none;
    align-self: center; }
  .logo-footer__photo {
    margin: 0; } }

.social {
  margin-bottom: 25px;
  border-bottom: 1px solid #d9d9d9; }

.social__list {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.social__item:not(:last-child) {
  margin-right: 37px; }

.social__link--vkontakte {
  background-image: url(../img/m-vk.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 12px;
  display: block; }

.social__link--instagram {
  background-image: url(../img/m-insta.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block; }

.social__link--facebook {
  background-image: url(../img/m-fb.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 19px;
  display: block; }

@media (min-width: 768px) {
  .social {
    margin: 0;
    border: none; }
  .social__link--vkontakte {
    background-image: url(../img/t-vk.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 16px;
    display: block; }
  .social__link--instagram {
    background-image: url(../img/t-insta.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    display: block; }
  .social__link--facebook {
    background-image: url(../img/t-fb.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 28px;
    display: block; } }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyright__link {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444; }

@media (min-width: 768px) {
  .copyright__link {
    margin-right: 20px;
    align-self: center; } }

.goods__wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.goods__photo {
  flex-shrink: 0; }

.goods__photo--tablet,
.goods__photo--tablet-big {
  display: none; }

.goods__container {
  width: 140px;
  align-self: flex-end; }

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.goods__item {
  border-top: 1px solid #ededed; }

.goods__name {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block; }

.goods__info {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  width: 140px; }

.goods__row {
  display: flex;
  justify-content: space-between; }

.goods__wrap--tablet {
  display: none; }

.goods__order {
  width: 280px;
  font-size: 16px;
  line-height: 20px; }

.goods__plus {
  margin-bottom: 25px;
  margin-top: 25px;
  display: block;
  background-color: #d3d3d3;
  height: 30px;
  width: 3px;
  position: relative;
  left: 45%; }
  .goods__plus::after {
    content: "";
    height: 3px;
    width: 30px;
    background-color: #d3d3d3;
    position: absolute;
    left: -13px;
    top: 13px; }

.goods__item--show {
  border-bottom: 1px solid #ededed; }

.goods__show {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center; }

.goods__item--wrapper {
  margin: 0 auto;
  width: 280px; }

.goods__count,
.goods__choice {
  display: none; }

.goods__explain {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center; }

.goods__showall {
  margin-bottom: 25px;
  width: 280px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  color: #444444; }

@media (min-width: 768px) {
  .goods__list {
    margin: 0 auto;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .goods__item {
    border: none; }
    .goods__item:nth-child(7) > div:nth-child(1) {
      margin-bottom: 0; }
  .goods__item--show {
    margin-top: 40px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: flex;
    height: 435px; }
  .goods__wrapper {
    margin-bottom: 100px;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 23px;
    padding-right: 23px;
    flex-direction: column;
    background: linear-gradient(#ffffff 40px, #f2f2f2 30px);
    position: relative; }
  .goods__item--wrapper {
    padding-left: 23px;
    padding-right: 23px;
    border-top: 1px solid #e6e6e6;
    width: 278px; }
  .goods__wrap {
    display: none; }
  .goods__photo {
    display: none; }
  .goods__photo--tablet,
  .goods__photo--tablet-big {
    display: block; }
  .goods__photo--tablet {
    margin-bottom: 35px; }
  .goods__photo--tablet-big {
    position: relative;
    top: -35px; }
  .goods__container {
    width: 250px;
    align-self: center; }
  .goods__name {
    font-size: 20px;
    text-align: center; }
  .goods__info {
    margin-bottom: 30px;
    font-size: 16px;
    width: 250px; }
  .goods__row {
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd; }
  .goods__wrap--tablet {
    display: block; }
  .goods__parameters {
    margin-bottom: 5px; }
  .goods__order {
    margin: 0;
    width: 250px;
    align-self: center; }
  .goods__plus {
    margin-top: 40px;
    margin-bottom: 50px;
    height: 60px;
    width: 2px;
    left: 50%;
    background-color: #e6e6e6; }
    .goods__plus::after {
      content: "";
      width: 60px;
      height: 2px;
      left: -29px;
      top: 45%;
      background-color: #e6e6e6; }
  .goods__show {
    margin-bottom: 30px;
    font-size: 20px; }
  .goods__explain {
    margin-bottom: 90px;
    font-size: 16px; }
  .goods__showall {
    margin: 0 auto;
    width: 249px;
    display: block; }
  .goods__count,
  .goods__choice {
    display: block; } }

@media (min-width: 1440px) {
  .goods {
    margin-bottom: 0; }
  .goods__item:nth-child(5) > div:nth-child(1),
  .goods__item:nth-child(6) > div:nth-child(1) {
    margin-bottom: 0; }
  .goods__list {
    width: 1220px; }
  .goods__wrapper,
  .goods__item--wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 245px; }
  .goods__container,
  .goods__info,
  .goods__order,
  .goods__showall {
    width: 169px; }
  .goods__showall {
    margin: 0 auto;
    display: block; } }

.additionally {
  padding-bottom: 35px;
  margin: 0 auto;
  width: 280px;
  background-color: #ffffff; }

.additionally__title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal; }

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.additionally__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #cdcdcd; }

.additionally__name {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222; }

.additionally__pack {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  color: #222222;
  display: flex;
  justify-content: space-between; }

.additionally__item--vitamins {
  margin-bottom: 40px;
  border-bottom: 1px solid #cdcdcd; }

.additionally__stock {
  margin: 0 auto;
  width: 280px;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  position: relative; }

.additionally__slogan {
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 190px;
  padding-bottom: 40px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center; }
  .additionally__slogan::before {
    content: "";
    background-image: url(../img/gift-tablet.svg);
    width: 55px;
    height: 60px;
    display: block;
    position: absolute;
    top: 70px;
    left: 40%; }

.additionally__wrap {
  display: none; }

@media (min-width: 768px) {
  .additionally {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 70px;
    width: 708px; }
  .additionally__title {
    margin-left: 40px;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 36px;
    width: 708px; }
  .additionally__list {
    margin-bottom: 70px;
    border: 1px solid #e6e6e6; }
  .additionally__item {
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: none;
    border-bottom: 1px solid #d9d9d9;
    display: flex; }
  .additionally__item--vitamins {
    margin: 0;
    border-bottom: none; }
  .additionally__wrapper {
    width: 708px; }
  .additionally__container {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between; }
  .additionally__name {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    flex-grow: 3; }
  .additionally__pack {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    flex-grow: 1; }
  .additionally__order {
    width: 628px; }
  .additionally__stock {
    margin: 0 auto;
    width: 708px;
    background-image: url(../img/gift-photo-tablet.jpg);
    background-repeat: no-repeat; }
  .additionally__slogan {
    padding: 0;
    padding-top: 75px;
    padding-bottom: 65px;
    padding-right: 120px;
    text-align: right; }
    .additionally__slogan::before {
      left: 90px; }
  .additionally__wrap {
    display: block; } }

@media (min-width: 1440px) {
  .additionally {
    display: flex;
    flex-wrap: wrap; }
  .additionally,
  .additionally__title,
  .additionally__wrapper {
    width: 1220px; }
  .additionally__title {
    margin-bottom: 30px;
    margin-left: 0; }
  .additionally__wrapper {
    display: flex;
    justify-content: space-between; }
  .additionally__container {
    margin: 0;
    flex-grow: 1;
    align-self: center; }
  .additionally__name {
    flex-grow: 0;
    width: 320px; }
  .additionally__pack {
    margin-right: 40px; }
  .additionally__list {
    margin-bottom: 0;
    width: 895px;
    border: none; }
  .additionally__item {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #cdcdcd; }
  .additionally__order {
    width: 245px; }
  .additionally__stock {
    margin-right: 0;
    background-image: url(../img/gift-photo-desktop.jpg);
    background-repeat: no-repeat;
    width: 245px; }
  .additionally__slogan {
    padding-right: 0;
    padding-top: 190px;
    text-align: center; } }

.questionnaire {
  margin-bottom: 30px; }

.questionnaire__instruction {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }
  .questionnaire__instruction br {
    display: none; }

@media (min-width: 768px) {
  .questionnaire {
    margin-bottom: 0; }
  .questionnaire__instruction {
    margin-bottom: 65px;
    width: 630px;
    font-size: 20px;
    line-height: 30px; }
    .questionnaire__instruction br {
      display: block; } }

@media (min-width: 1440px) {
  .questionnaire__instruction {
    margin: 0;
    margin-bottom: 65px; } }

.form__list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  border-bottom: 1px solid #ededed; }

.form__list--wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-wrap: wrap; }

.form__list--wrap {
  margin: 0 auto;
  width: 280px; }

.form__item {
  margin-bottom: 15px;
  display: flex;
  width: 100%; }

.form__item--last {
  margin-bottom: 25px; }

.form__label {
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center;
  flex-shrink: 0; }

.form__input {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #e6e6e6;
  width: 100%; }
  .form__input::placeholder {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1; }

.form__list--criteria {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #ededed; }

.form__item--criteria {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.form__item--criteria:nth-child(3) {
  margin-bottom: 25px; }

.form__contacts {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  border: none; }

.form__title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px; }

.form__list--contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.form__item--contacts {
  margin-bottom: 20px;
  display: flex;
  width: 100%; }

.form__label--contacts {
  margin-right: 12px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center; }

.form__input--contacts {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #e6e6e6;
  width: 100%; }
  .form__input--contacts::placeholder {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1; }

.form__comment {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  width: 280px; }

.form__textarea {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 120px;
  border: 1px solid #e6e6e6;
  width: 100%;
  box-sizing: border-box; }
  .form__textarea::placeholder {
    color: #444444;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1; }

.form__addition {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  width: 280px; }

.form__list--addition {
  margin: 0;
  padding: 0;
  list-style: none; }

.form__item--addition {
  margin-bottom: 10px; }

.form__label--checkbox {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.form__input--checkbox {
  margin: 0; }

.form__submit {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 280px;
  display: block; }

.form__note {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center; }

@media (min-width: 768px) {
  .form__list--wrapper {
    width: 630px; }
  .form__list {
    margin: 0;
    margin-bottom: 60px; }
  .form__list--criteria {
    margin: 0;
    margin-bottom: 65px; }
  .form__list,
  .form__list--criteria {
    border: none; }
  .form__label {
    font-size: 20px;
    line-height: 20px; }
  .form__input::placeholder {
    font-size: 20px;
    line-height: 20px; }
  .form__list--wrap {
    padding-left: 29px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 601px;
    border: 1px solid #e6e6e6; }
  .form__item--criteria:nth-child(3) {
    margin: 0; }
  .form__contacts,
  .form__comment,
  .form__addition {
    margin-bottom: 40px;
    width: 630px; }
  .form__title {
    margin: 0;
    margin-bottom: 65px;
    font-size: 36px;
    line-height: 36px; }
  .form__label--contacts,
  .form__input--contacts::placeholder {
    font-size: 20px;
    line-height: 20px; }
  .form__list--addition {
    display: flex;
    flex-wrap: wrap; }
  .form__item--addition {
    width: 300px; }
  .form__label--checkbox {
    font-size: 20px;
    line-height: 20px; }
  .form__cont {
    margin: 0 auto;
    width: 630px;
    display: flex; }
  .form__submit {
    margin: 0;
    margin-right: 60px; }
  .form__note {
    font-size: 16px;
    align-self: center; } }

@media (min-width: 1440px) {
  .form {
    margin-bottom: 80px; }
  .form__container {
    display: flex; }
  .form__list {
    margin-bottom: 30px; }
  .form__list--wrapper {
    margin-right: 80px;
    width: 570px; }
  .form__list--wrap {
    padding-left: 0;
    width: 570px;
    border: none; }
  .form__contacts,
  .form__comment,
  .form__addition,
  .form__cont {
    width: 1220px; }
  .form__list--criteria {
    margin-bottom: 60px;
    border: 1px solid #e6e6e6; }
  .form__list--contacts {
    flex-wrap: nowrap;
    justify-content: space-between; }
  .form__item--contacts {
    width: 570px; }
  .form__submit {
    width: 568px; } }
