.advantages {
    padding-bottom: 40px;
    background-color: #ffffff;
}

.advantages__wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.advantages__title {
    margin: 0;
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
}

.advantages__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages__item {
    margin-bottom: 20px;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

