.catalog {
    background-color: #ffffff;   
}

.catalog__wrapper {
    margin: 0 auto;

    width: 280px;
}

.catalog__slim,
.catalog__weight {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    background-color: #f2f2f2;
}

.catalog__slim {
    margin-bottom: 20px;

    background-image: url(../img/cat-slim-mobile.png);
    background-repeat: no-repeat;
    background-position: 10% 13%;   
}

.catalog__arrow {
    position: relative;
    top: -13px;
    width: 25px;
    height: 3px;
    background-color: #3e4242;    
    left: 100px;
    display: block;
}

.catalog__arrow::after {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    bottom: -6px; 
    left: 100%;
    border-width: 8px 0 8px 10px;
    border-style: solid;
    border-color: transparent #3e4242;
}

.catalog__weight {     
    background-image: url(../img/cat-pro-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 13%;
}   

.catalog__title {
    margin: 0;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.catalog__info {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;

    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;  
    
    border-bottom: 1px solid #d9d9d9;    
}

.catalog__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

@media (min-width:$tablet) {
    .catalog {
        padding-bottom: 40px;
    }
    
    .catalog__wrapper {
        width: 708px;
    }

    .catalog__slim {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 80px;
        padding-bottom: 60px;

        background-image: url(../img/cat-slim.png);
        background-repeat: no-repeat;
        background-position: 89% 49%;
    }

    .catalog__title {
        margin-bottom: 20px;

        font-size: 36px;
        text-align: left;
    }

    .catalog__info {
        border: none;

        font-size: 16px;
        line-height: 24px;
        width: 370px;
    }

    .catalog__weight {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 80px;
        padding-bottom: 60px;

        background-image: url(../img/cat-pro.png);
        background-repeat: no-repeat;
        background-position: 93% 60%;
    }    
}

@media (min-width:$desktop) {
    .catalog {
        padding-bottom: 60px;
    }

    .catalog__wrapper {
        width: 1220px;

        display: flex;
        justify-content: space-between;
    }

    .catalog__slim {
        width: 38%;
        margin: 0;       
        padding-top: 60px;              

        background-image: url(../img/cat-slim-desktop.png);
        background-repeat: no-repeat;
        background-position: 10% 10%;
    }

    .catalog__title {
        margin-bottom: 75px;
        font-size: 36px;
        text-align: center;
    }

    .catalog__info {
        font-size: 16px;
        line-height: 24px;

        width: 100%;
    }

    .catalog__link {
        font-size: 20px;
        line-height: 20px;
    }

    .catalog__weight {  
        width: 38%;
        padding-top: 60px;  

        background-image: url(../img/cat-pro-desktop.png);
        background-repeat: no-repeat;
        background-position: 5% 10%;
    }    

    .catalog__arrow {
        left: 130px;
    }
}
