.form__list {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    list-style: none;
    border-bottom: 1px solid #ededed;   
}

.form__list--wrapper {
    margin: 0 auto;

    width: 280px;
    display: flex;
    flex-wrap: wrap;
}

.form__list--wrap {
    margin: 0 auto;

    width: 280px;
}

.form__item {
    margin-bottom: 15px;

    display: flex;
    width: 100%;
}

.form__item--last {
    margin-bottom: 25px;
}

.form__label {
    margin-right: 15px;

    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    align-self: center;
    flex-shrink: 0;
}

.form__input {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;    

    border: 1px solid #e6e6e6; 
    width: 100%;  

    &::placeholder {        
        color: #444444;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        opacity: 1;
    }
}

.form__list--criteria {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    
    list-style: none;
    border-bottom: 1px solid #ededed; 
}

.form__item--criteria {
    margin-bottom: 13px;

    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.form__item--criteria:nth-child(3) {
    margin-bottom: 25px;
}

.form__contacts {    
    padding: 0;
    margin: 0 auto;

    width: 280px;

    border: none;
}

.form__title {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 24px;
}

.form__list--contacts {
    margin: 0;
    padding: 0;    

    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.form__item--contacts {
    margin-bottom: 20px;
     display: flex;
     width: 100%;

     position: relative;

     &:first-child::after {
        content:"";

        background-image: url(../img/mail.svg);
        background-repeat: no-repeat;
        display: block;
        width: 17px;
        height: 13px;
    
        position: absolute;
        top: 18px;
        right: 15px;
     }

     &:nth-child(2)::after {
        content:"";

        background-image: url(../img/phone.svg);
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        height: 20px;
    
        position: absolute;
        top: 18px;
        right: 12px;
     }
}

.form__label--contacts {
    margin-right: 12px;

    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
}

.form__input--contacts {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;    

    border: 1px solid #e6e6e6; 
    width: 100%;    

    &::placeholder {        
        color: #444444;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        opacity: 1;
    }
}

.form__comment {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;

    border: none;
    width: 280px;
}

.form__textarea {
    padding-left: 20px;    
    padding-top: 15px;
    padding-bottom: 120px;   
   
    border: 1px solid #e6e6e6;  
    width: 100%;
    box-sizing: border-box; 

    &::placeholder {          
        color: #444444;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        opacity: 1;
    }
}

.form__addition {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;

    border: none;
    width: 280px;
}

.form__list--addition {
    margin: 0;
    padding: 0;    

    list-style: none;
}

.form__item--addition {
    margin-bottom: 10px;
}

.form__label--checkbox {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.form__input--checkbox {
    margin: 0;
}

.form__submit {
    margin: 0 auto;
    margin-bottom: 24px;
    
    width: 280px;
    display: block;
}

.form__note {
    margin: 0;     

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    text-align: center;
}

@media (min-width:$tablet) {
    .form__list--wrapper {
        width: 630px;
    }

    .form__list { 
        margin: 0;      
        margin-bottom: 60px;
    }

    .form__list--criteria {
        margin: 0;
        margin-bottom: 65px;
    }

    .form__list,
    .form__list--criteria {
        border: none;
    }

    .form__label {
        font-size: 20px;
        line-height: 20px;
    }

    .form__input::placeholder {
        font-size: 20px;
        line-height: 20px;
    }

    .form__list--wrap {
        padding-left: 29px;
        padding-top: 25px;
        padding-bottom: 25px;
       
        width: 601px;

        border: 1px solid #e6e6e6;
    }

    .form__item--criteria:nth-child(3) {
        margin: 0;
    }

    .form__contacts,
    .form__comment,
    .form__addition {        
        margin-bottom: 40px;

        width: 630px;
    }

    .form__title {
        margin: 0;
        margin-bottom: 65px;

        font-size: 36px;
        line-height: 36px;
    }

    .form__label--contacts,
    .form__input--contacts::placeholder {
        font-size: 20px;
        line-height: 20px;
    }   

    .form__list--addition {
        display: flex;
        flex-wrap: wrap;
    }

    .form__item--addition {
        width: 300px;
    }

    .form__label--checkbox {
        font-size: 20px;
        line-height: 20px;
    }

    .form__cont {
        margin: 0 auto;
        
        width: 630px;
        display: flex;
    }

    .form__submit {
        margin: 0;
        margin-right: 60px;
    }

    .form__note {
        font-size: 16px;

       align-self: center;
    }
}

@media (min-width:$desktop) {
    .form {
        margin-bottom: 80px;
    }

    .form__container {
        display: flex;
    }

    .form__list {
        margin-bottom: 30px;
    }

    .form__list--wrapper {
        margin-right: 80px;
        width: 570px;
    }

    .form__list--wrap {
        padding-left: 0;

        width: 570px;
        border: none;
    }

    .form__contacts,
    .form__comment,
    .form__addition,
    .form__cont {
        width: 1220px;
    }
    
    .form__list--criteria {
        margin-bottom: 60px;

        border: 1px solid #e6e6e6;
    }

    .form__list--contacts {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .form__item--contacts {
        width: 570px;
    }

    .form__submit {
        width: 568px;
    }
}