.goods__wrapper {
    margin: 0 auto;
    padding-top: 20px;

    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods__container {
    width: 140px;
    align-self: flex-end;
}

.goods__list {
    margin: 0;
    padding: 0;  

    list-style: none;    
}

.goods__item {    
    border-top: 1px solid #ededed;
}

.goods__name {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
}

.goods__info {
    margin-bottom: 20px;    

    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
     
    width: 140px;       
}

.goods__row {
    display: flex;
    justify-content: space-between;
}

.goods__wrap--tablet {
    display: none;
}

.goods__order {
    width: 280px;

    font-size: 16px;
    line-height: 20px;
}

.goods__plus {
    margin-bottom: 25px;
   margin-top: 25px;

    display: block;
    background-color: #d3d3d3;
    height: 30px;
    width: 2px;
    position: relative;  
    left: 49%; 
    &::after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #d3d3d3;
        position: absolute;
        left: -14px;
        top: 13px;
    }
}

.goods__item--show {
    border-bottom: 1px solid #ededed;
}

.goods__show {
    margin: 0;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    text-align: center;
}

.goods__item--wrapper {
    margin: 0 auto;

    width: 280px;
}

.goods__count,
.goods__choice {
    display: none;
}

.goods__explain {
    margin: 0;
    margin-bottom: 25px;

    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.goods__showall {
    margin-bottom: 25px;

    width: 280px;
    background-color: #f2f2f2;

    font-size: 16px;
    line-height: 20px;
    color: #444444;
}

@media (min-width:$tablet) {
    .goods__list {
        margin: 0 auto;

        width: 708px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .goods__item {
        border: none;
        &:nth-child(7) > div:nth-child(1) {
            margin-bottom: 0;
        }

        &:nth-child(even) > div:nth-child(1) > picture:nth-child(1) > img:nth-child(3) {
            position: relative;
            bottom: 20px;
        }

        &:nth-child(even) > div:nth-child(1) > div:nth-child(2) {
            margin-top: -36px;
        }
    }      

    .goods__item--show {  
        margin-top: 40px;      
        border-bottom: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;

        display: flex;
        height: 435px;
    }

    .goods__wrapper {
        margin-bottom: 100px;
        padding-top: 0;
        padding-bottom: 40px;
        padding-left: 23px;
        padding-right: 23px;

        flex-direction: column;
        background: linear-gradient(#ffffff 40px, #f2f2f2 30px);
        position: relative;
    }

    .goods__photo {
        margin-bottom: 40px;
        display: block;
    }

    .goods__item--wrapper {
        padding-left: 23px;
        padding-right: 23px;
        
        border-top: 1px solid #e6e6e6;
        width: 278px;
    }

    .goods__wrap {
        display: none;
    }    

    .goods__container {
        width: 250px;
        align-self: center;
    }

    .goods__name {
        font-size: 20px;
        text-align: center;
    }

    .goods__info {
        margin-bottom: 30px;

        font-size: 16px;
        width: 250px;        
    }

    .goods__row {
        margin-bottom: 5px;

        border-bottom: 1px solid #cdcdcd;
    }

    .goods__wrap--tablet {
        display: block;
    }

    .goods__parameters {
        margin-bottom: 5px;
    }

    .goods__order {
        margin: 0;

        width: 250px;
        align-self: center;
    }

    .goods__plus {
        margin-top: 40px;
        margin-bottom: 50px;
        
        height: 60px;
        width: 2px;
        left: 50%;
        background-color: #e6e6e6;

        &::after {
            content: "";
            width: 60px;
            height: 2px;
            left: -29px;
            top: 45%;
            background-color: #e6e6e6;
        }
    } 

    .goods__show {
        margin-bottom: 30px;
        
        font-size: 20px;
    }  

    .goods__explain {
        margin-bottom: 90px;

        font-size: 16px;
    }

    .goods__showall {
        margin: 0 auto;

        width: 249px;
        display: block;
    }

    .goods__count,
    .goods__choice {
        display: block;
    }
}

@media (min-width:$desktop) {
    .goods {
        margin-bottom: 0;
    }

    .goods__item:nth-child(5) > div:nth-child(1),
    .goods__item:nth-child(6) > div:nth-child(1) {
        margin-bottom: 0; 
    }       

    .goods__list {
        width: 1220px;
    }

    .goods__wrapper,
    .goods__item--wrapper {
        padding-left: 0;
        padding-right: 0;

        width: 245px;
    }

    .goods__container,
    .goods__info,
    .goods__order,
    .goods__showall {
        width: 169px;
    }
    
    .goods__showall {
        margin: 0 auto;

        display: block;
    }
}