.main-nav__wrapper {    
    margin: 0 auto;

    text-align: center;
}

.main-nav__list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.main-nav__list:last-child {
    border-bottom: 1px solid #e6e6e6;
}

@media (min-width:$tablet) { 
      
    .main-nav__list {
        display: flex;  
        min-width: 450px;  
        justify-content: space-between;         
    }

    .main-nav__list:last-child {
        border: none;
    }
}

@media (min-width:$desktop) { 
    .main-nav__list {
        min-width: 480px;
    }  
}

