.map {
    margin: 0 auto;
    width: 320px;
}

@media (min-width:$tablet) { 
    .map {
        width: 768px;
    }   
}

@media (min-width:$desktop) { 
    .map {
        width: 1440px;
        margin-top: -90px;  
        
        background-color: #f2f2f2;
    }   
}