.page-main__wrapper {
    padding-top: 10px;    

    background-color: #ffffff;   
}

.page-main__title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 280px;

    font-size: 36px;
    line-height: 60px;
    font-weight: normal;    
}

.page-main__container {     
    background-color: #ffffff;    
}

@media (min-width:$tablet) {
    .page-main__container {
        padding: 0;  
        margin-bottom: 60px;     
    }
    
    .page-main__title {       
        margin-bottom: 60px;

        width: 708px;

        font-size: 60px;
    }

    .page-main__title--tablet {
        margin-bottom: 120px;
    }    
}

@media (min-width:$desktop) {
    .page-main__container {
        margin: 0 auto;
        padding-bottom: 0;
        margin-bottom: 30px;

        width: 1220px;
    }

    .page-main__title {
        margin: 0;
        margin-bottom: 50px;
    }

    .page-main__title--desktop {
        margin-bottom: 120px;
    }
}
